# Manager Requirements
coffea
awkward
numpy==2.2.4
awkward_cpp
importlib_metadata
fsspec
lz4
zipp
correctionlib-2.6.4.dist-info
jupyter_client-8.6.3.dist-info
jsonschema-4.23.0.dist-info
matplotlib_inline-0.1.7.dist-info
markdown_it_py-3.0.0.dist-info
setuptools-78.1.0-py3.9.egg-info
debugpy-1.8.14.dist-info
ipython_pygments_lexers-1.1.1.dist-info
jupyter_core-5.7.2.dist-info
pandas-2.2.3.dist-info
pip-25.0.1.dist-info
vector-1.6.1.dist-info
awkward-2.8.1.dist-info
charset_normalizer-3.4.1.dist-info
wheel-0.45.1.dist-info
dask_awkward-2025.3.0.dist-info
pygments-2.19.1.dist-info
fonttools-4.57.0.dist-info
histoprint-2.6.0.dist-info
nbformat-5.10.4.dist-info
fsspec_xrootd-0.5.1.dist-info
dask_histogram-2025.2.0.dist-info
conda_pack-0.8.1.dist-info
hist-2.8.1.dist-info
dask-2025.3.0.dist-info
tqdm-4.67.1.dist-info
ipython-9.1.0.dist-info
numpy-2.2.4.dist-info
pyarrow
cloudpickle==3.1.1
dask_awkward
dask
yaml==6.0.2
tlz
toolz
dask_awkward_sizeof
dask_histogram_sizeof
xxhash
cachetools==5.5.2
uproot
numba
scipy==1.15.2
llvmlite
pytz
vector
hist
boost_histogram
histoprint
uhi
pandas==2.2.3
rich
attr
charset_normalizer==3.4.1
dask_histogram
ndcctools
ipykernel==6.29.5

# Worker Requirements
