# Manager Requirements
pandas==2.2.3
numpy==1.26.4
pytz
geopandas
shapely
pyproj==3.7.1
certifi==2025.01.31
pygeos
requests==2.32.3
urllib3
charset_normalizer==3.4.1
idna
matplotlib==3.10.1
PIL==11.2.1
defusedxml==0.7.1
pyparsing
cycler==0.12.1
kiwisolver
nbconvert-7.16.6.dist-info
jupyter_console-6.6.3.dist-info
networkx-3.4.2.dist-info
jupyter_lsp-2.2.5.dist-info
jupyter_client-8.6.3.dist-info
jsonschema-4.23.0.dist-info
matplotlib_inline-0.1.7.dist-info
setuptools-69.2.0.dist-info
debugpy-1.8.14.dist-info
jupyter_server-2.15.0.dist-info
webcolors-24.11.1.dist-info
rasterio-1.4.3.dist-info
babel-2.17.0.dist-info
jupyter_core-5.7.2.dist-info
pandas-2.2.3.dist-info
ipython-8.35.0.dist-info
httpx-0.28.1.dist-info
jinja2-3.1.6.dist-info
pip-25.0.1.dist-info
cffi-1.17.1.dist-info
websocket_client-1.8.0.dist-info
notebook-7.4.0.dist-info
numpy-1.26.4.dist-info
charset_normalizer-3.4.1.dist-info
nbclient-0.10.2.dist-info
Send2Trash-1.8.3.dist-info
pygments-2.19.1.dist-info
jupyterlab-4.4.0.dist-info
fonttools-4.57.0.dist-info
anyio-4.9.0.dist-info
pyproj-3.7.1.dist-info
nbformat-5.10.4.dist-info
mercantile-1.2.1.dist-info
jupyter_events-0.12.0.dist-info
json5-0.12.0.dist-info
dateutil
mpl_toolkits
libpysal
scipy==1.15.2
bs4==4.13.3
soupsieve
__pycache__
sklearn==1.6.1
joblib==1.4.2
libpysal-4.13.0.dist-info
esda
esda-2.7.0.dist-info
contextily
xyzservices
xyzservices-2025.1.0.dist-info
geopy
mercantile==1.2.1
rasterio==1.4.3
click==8.1.8
attr
affine==2.4.0
contextily-1.6.2.dist-info
pyogrio
matplotlib_inline==0.1.7
IPython
zmq
mapclassify
mapclassify-2.8.1.dist-info
numpy.libs
scipy.libs
scikit_learn.libs

# Worker Requirements
